<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="QUB_URDF_v2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.219E-06 2.715E-05 -0.00097139"
        rpy="0 0 0" />
      <mass
        value="2.675" />
      <inertia
        ixx="0.027769"
        ixy="1.956E-05"
        ixz="-3.771E-05"
        iyy="0.024206"
        iyz="0.00042342"
        izz="0.0099354" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Torso_yaw">
    <inertial>
      <origin
        xyz="-0.0001972 9.1312E-05 -0.057232"
        rpy="0 0 0" />
      <mass
        value="3.6025" />
      <inertia
        ixx="0.01175536"
        ixy="4.1E-07"
        ixz="-0.00010021"
        iyy="0.01135089"
        iyz="2.055E-05"
        izz="0.00725972" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/Torso_yaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/Torso_yaw.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Torso_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.00014811 0.0032987 -0.14636"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Torso_yaw" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Hip_pitch">
    <inertial>
      <origin
        xyz="0.00754712 -0.0801657 0.00028105"
        rpy="0 0 0" />
      <mass
        value="1.212" />
      <inertia
        ixx="0.00185503"
        ixy="-2.088E-05"
        ixz="-2.58E-06"
        iyy="0.00132312"
        iyz="1.32E-05"
        izz="0.00132641" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Hip_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Hip_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0 -0.035605 -0.091005"
      rpy="0 0 -0.032636" />
    <parent
      link="Torso_yaw" />
    <child
      link="R_Hip_pitch" />
    <axis
      xyz="-0.032631 0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Hip_roll">
    <inertial>
      <origin
        xyz="-0.0141749 -0.0006353 -0.09346984"
        rpy="0 0 0" />
      <mass
        value="1.332" />
      <inertia
        ixx="0.00239371"
        ixy="9.42E-06"
        ixz="-0.00010625"
        iyy="0.00262772"
        iyz="-2.75E-05"
        izz="0.00195476" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Hip_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Hip_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Hip_roll_joint"
    type="revolute">
    <origin
      xyz="0.015826 -0.083123 0"
      rpy="0 0 0" />
    <parent
      link="R_Hip_pitch" />
    <child
      link="R_Hip_roll" />
    <axis
      xyz="-0.99947 -0.032631 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Hip_yaw">
    <inertial>
      <origin
        xyz="-0.00778543 -0.02028016 -0.10532737"
        rpy="0 0 0" />
      <mass
        value="1.98" />
      <inertia
        ixx="0.00479973"
        ixy="5.498E-05"
        ixz="0.00010337"
        iyy="0.00481819"
        iyz="-3.02E-05"
        izz="0.00367312" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Hip_yaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Hip_yaw.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Hip_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.013098 -0.00042763 -0.11149"
      rpy="0 0 0" />
    <parent
      link="R_Hip_roll" />
    <child
      link="R_Hip_yaw" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Thigh_pitch_1">
    <inertial>
      <origin
        xyz="0.01104107 0.04091338 0.01147801"
        rpy="0 0 0" />
      <mass
        value="0.1" />
      <inertia
        ixx="5.531E-05"
        ixy="2.56E-06"
        ixz="1.93E-05"
        iyy="8.508E-05"
        iyz="1.28E-06"
        izz="5.772E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Thigh_pitch_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Thigh_pitch_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Thigh_pitch_1_joint"
    type="revolute">
    <origin
      xyz="-0.0088899 -0.027805 -0.10349"
      rpy="0 0 0" />
    <parent
      link="R_Hip_yaw" />
    <child
      link="R_Thigh_pitch_1" />
    <axis
      xyz="0.032631 -0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Thigh_pitch_2">
    <inertial>
      <origin
        xyz="-0.0029573 -9.655E-05 -0.04648928"
        rpy="0 0 0" />
      <mass
        value="0.027" />
      <inertia
        ixx="3.311E-05"
        ixy="1.6E-07"
        ixz="6.67E-06"
        iyy="3.786E-05"
        iyz="2.2E-07"
        izz="5.05E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Thigh_pitch_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Thigh_pitch_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Thigh_pitch_2_joint"
    type="revolute">
    <origin
      xyz="0.027137 0.043409 0.028027"
      rpy="0 0 0" />
    <parent
      link="R_Thigh_pitch_1" />
    <child
      link="R_Thigh_pitch_2" />
    <axis
      xyz="0.032631 -0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Thigh_pitch_3">
    <inertial>
      <origin
        xyz="0.00264701 -0.02186719 -0.11300894"
        rpy="0 0 0" />
      <mass
        value="1.02" />
      <inertia
        ixx="0.00523287"
        ixy="-1.277E-05"
        ixz="-0.00013544"
        iyy="0.00525577"
        iyz="2.22E-06"
        izz="0.00101909" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Thigh_pitch_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Thigh_pitch_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Thigh_pitch_3_joint"
    type="revolute">
    <origin
      xyz="-0.020244 -0.00066093 -0.089743"
      rpy="0 0 0" />
    <parent
      link="R_Thigh_pitch_2" />
    <child
      link="R_Thigh_pitch_3" />
    <axis
      xyz="0.032631 -0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Thigh_pitch_4">
    <inertial>
      <origin
        xyz="0.03068291 -0.01379806 -0.08472467"
        rpy="0 0 0" />
      <mass
        value="1.02" />
      <inertia
        ixx="0.00523287"
        ixy="-1.277E-05"
        ixz="-0.00013544"
        iyy="0.00525577"
        iyz="2.22E-06"
        izz="0.00101909" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Thigh_pitch_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Thigh_pitch_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Thigh_pitch_4_joint"
    type="revolute">
    <origin
      xyz="-0.028036 -0.0080691 -0.028284"
      rpy="0 0 0" />
    <parent
      link="R_Thigh_pitch_3" />
    <child
      link="R_Thigh_pitch_4" />
    <axis
      xyz="-0.032631 0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Knee_pitch_L">
    <inertial>
      <origin
        xyz="-0.02274224 0.02132588 0"
        rpy="0 0 0" />
      <mass
        value="0.02119961" />
      <inertia
        ixx="2.31E-06"
        ixy="1.58E-06"
        ixz="0"
        iyy="1.706E-05"
        iyz="0"
        izz="1.607E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Knee_pitch_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Knee_pitch_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Knee_pitch_L_joint"
    type="revolute">
    <origin
      xyz="0.029343 0.020618 -0.068"
      rpy="0 0 0" />
    <parent
      link="R_Thigh_pitch_4" />
    <child
      link="R_Knee_pitch_L" />
    <axis
      xyz="-0.032631 0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Rodend_body_L">
    <inertial>
      <origin
        xyz="0 0 -0.10000002"
        rpy="0 0 0" />
      <mass
        value="0.262" />
      <inertia
        ixx="0.00090883"
        ixy="0"
        ixz="0"
        iyy="0.00090983"
        iyz="0"
        izz="7.12E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Rodend_body_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Rodend_body_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Rodend_body_L_joint"
    type="revolute">
    <origin
      xyz="-0.064194 0.0049075 0"
      rpy="0 0 0" />
    <parent
      link="R_Knee_pitch_L" />
    <child
      link="R_Rodend_body_L" />
    <axis
      xyz="-0.032631 0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Rodend_ball_L">
    <inertial>
      <origin
        xyz="0.01048952 -0.03305958 -0.01278363"
        rpy="0 0 0" />
      <mass
        value="0.078" />
      <inertia
        ixx="2.713E-05"
        ixy="-7.2E-07"
        ixz="-2.5E-07"
        iyy="3.013E-05"
        iyz="1.1E-06"
        izz="3.256E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Rodend_ball_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Rodend_ball_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Rodend_ball_L_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.2"
      rpy="0 0 0" />
    <parent
      link="R_Rodend_body_L" />
    <child
      link="R_Rodend_ball_L" />
    <axis
      xyz="-0.032631 0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Knee_pitch_R">
    <inertial>
      <origin
        xyz="-0.02130281 -0.02276392 0"
        rpy="0 0 0" />
      <mass
        value="0.02119961" />
      <inertia
        ixx="2.16E-06"
        ixy="-6.1E-07"
        ixz="0"
        iyy="1.72E-05"
        iyz="0"
        izz="1.607E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Knee_pitch_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Knee_pitch_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Knee_pitch_R_joint"
    type="revolute">
    <origin
      xyz="0.031138 -0.034352 -0.068"
      rpy="0 0 0" />
    <parent
      link="R_Thigh_pitch_4" />
    <child
      link="R_Knee_pitch_R" />
    <axis
      xyz="-0.032631 0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Rodend_body_R">
    <inertial>
      <origin
        xyz="0 0 -0.10000002"
        rpy="0 0 0" />
      <mass
        value="0.262" />
      <inertia
        ixx="0.00090883"
        ixy="0"
        ixz="0"
        iyy="0.00090983"
        iyz="0"
        izz="7.12E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Rodend_body_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Rodend_body_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Rodend_body_R_joint"
    type="revolute">
    <origin
      xyz="-0.063737 -0.009085 0"
      rpy="0 0 0" />
    <parent
      link="R_Knee_pitch_R" />
    <child
      link="R_Rodend_body_R" />
    <axis
      xyz="-0.032631 0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Rodend_ball_R">
    <inertial>
      <origin
        xyz="0.00831081 0.03367409 -0.01278363"
        rpy="0 0 0" />
      <mass
        value="0.078" />
      <inertia
        ixx="2.724E-05"
        ixy="9.1E-07"
        ixz="-1.8E-07"
        iyy="3.002E-05"
        iyz="-1.12E-06"
        izz="3.256E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Rodend_ball_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Rodend_ball_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Rodend_ball_R_joint"
    type="fixed">
    <origin
      xyz="0 0 -0.2"
      rpy="0 0 0" />
    <parent
      link="R_Rodend_body_R" />
    <child
      link="R_Rodend_ball_R" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Ankle_pitch">
    <inertial>
      <origin
        xyz="0 0 -7.077E-05"
        rpy="0 0 0" />
      <mass
        value="0.022" />
      <inertia
        ixx="2E-06"
        ixy="9E-08"
        ixz="0"
        iyy="4.89E-06"
        iyz="0"
        izz="5.28E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Ankle_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Ankle_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="0.03024 -0.0068669 -0.268"
      rpy="0 0 0" />
    <parent
      link="R_Thigh_pitch_4" />
    <child
      link="R_Ankle_pitch" />
    <axis
      xyz="0.032631 -0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Ankle_roll">
    <inertial>
      <origin
        xyz="-0.00596868 -0.00019488 -0.01560583"
        rpy="0 0 0" />
      <mass
        value="0.132" />
      <inertia
        ixx="3.876E-05"
        ixy="1.398E-05"
        ixz="-2.452E-05"
        iyy="0.00046645"
        iyz="-8E-07"
        izz="0.00047007" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Ankle_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Ankle_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Ankle_roll_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="R_Ankle_pitch" />
    <child
      link="R_Ankle_roll" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Foot">
    <inertial>
      <origin
        xyz="0.00220056 7.184E-05 0.00466046"
        rpy="0 0 0" />
      <mass
        value="0.12" />
      <inertia
        ixx="7.973E-05"
        ixy="1.056E-05"
        ixz="1.11E-06"
        iyy="0.00040288"
        iyz="4E-08"
        izz="0.00048071" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/R_Foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_Foot_joint"
    type="fixed">
    <origin
      xyz="0.010972 0.0003582 -0.038"
      rpy="0 0 0" />
    <parent
      link="R_Ankle_roll" />
    <child
      link="R_Foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="L_Hip_pitch">
    <inertial>
      <origin
        xyz="0.00492726 0.08036927 0.0002975"
        rpy="0 0 0" />
      <mass
        value="1.212" />
      <inertia
        ixx="0.00185582"
        ixy="3.49E-06"
        ixz="-2.01E-06"
        iyy="0.00132231"
        iyz="-1.25E-05"
        izz="0.00132641" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Hip_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Hip_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Hip_pitch_joint"
    type="revolute">
    <origin
      xyz="0 0.035605 -0.091005"
      rpy="0 0 0" />
    <parent
      link="Torso_yaw" />
    <child
      link="L_Hip_pitch" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Hip_roll">
    <inertial>
      <origin
        xyz="-0.01418929 0.00017349 -0.0934698"
        rpy="0 0 0" />
      <mass
        value="0.82173" />
      <inertia
        ixx="0.00239219"
        ixy="-1.77E-06"
        ixz="-0.00010706"
        iyy="0.00262925"
        iyz="2.398E-05"
        izz="0.00195476" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Hip_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Hip_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Hip_roll_joint"
    type="revolute">
    <origin
      xyz="0.013105 0.083595 0"
      rpy="0 0 0" />
    <parent
      link="L_Hip_pitch" />
    <child
      link="L_Hip_roll" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Hip_yaw">
    <inertial>
      <origin
        xyz="-0.00844338 0.02001538 -0.10532727"
        rpy="0 0 0" />
      <mass
        value="1.98" />
      <inertia
        ixx="0.00479617"
        ixy="-5.424E-05"
        ixz="0.00010234"
        iyy="0.00482177"
        iyz="3.354E-05"
        izz="0.00367311" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Hip_yaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Hip_yaw.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Hip_yaw_joint"
    type="revolute">
    <origin
      xyz="-0.013105 0 -0.11149"
      rpy="0 0 0" />
    <parent
      link="L_Hip_roll" />
    <child
      link="L_Hip_yaw" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Thigh_pitch_1">
    <inertial>
      <origin
        xyz="0.01368619 -0.04010609 0.01147802"
        rpy="0 0 0" />
      <mass
        value="0.1" />
      <inertia
        ixx="5.51E-05"
        ixy="-6E-07"
        ixz="1.934E-05"
        iyy="8.529E-05"
        iyz="-2E-08"
        izz="5.772E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Thigh_pitch_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Thigh_pitch_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Thigh_pitch_1_joint"
    type="revolute">
    <origin
      xyz="-0.0097924 0.0275 -0.10349"
      rpy="0 0 -0.032636" />
    <parent
      link="L_Hip_yaw" />
    <child
      link="L_Thigh_pitch_1" />
    <axis
      xyz="-0.032631 0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Thigh_pitch_2">
    <inertial>
      <origin
        xyz="-0.0029573 -9.655E-05 -0.04648928"
        rpy="0 0 0" />
      <mass
        value="0.027" />
      <inertia
        ixx="3.311E-05"
        ixy="1.6E-07"
        ixz="6.67E-06"
        iyy="3.786E-05"
        iyz="2.2E-07"
        izz="5.05E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Thigh_pitch_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Thigh_pitch_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Thigh_pitch_2_joint"
    type="revolute">
    <origin
      xyz="0.029911 -0.041546 0.028027"
      rpy="0 0 0" />
    <parent
      link="L_Thigh_pitch_1" />
    <child
      link="L_Thigh_pitch_2" />
    <axis
      xyz="0.032631 -0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Thigh_pitch_3">
    <inertial>
      <origin
        xyz="0.00177683 0.00478608 -0.11300893"
        rpy="0 0 0" />
      <mass
        value="1.02" />
      <inertia
        ixx="0.00517642"
        ixy="1.973E-05"
        ixz="-0.00012559"
        iyy="0.00525371"
        iyz="-0.00029969"
        izz="0.00096058" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Thigh_pitch_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Thigh_pitch_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Thigh_pitch_3_joint"
    type="revolute">
    <origin
      xyz="-0.020244 -0.00066093 -0.089743"
      rpy="0 0 0" />
    <parent
      link="L_Thigh_pitch_2" />
    <child
      link="L_Thigh_pitch_3" />
    <axis
      xyz="-0.032631 0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Thigh_pitch_4">
    <inertial>
      <origin
        xyz="0.03027934 -0.00143718 -0.08472466"
        rpy="0 0 0" />
      <mass
        value="1.02" />
      <inertia
        ixx="0.00517642"
        ixy="1.973E-05"
        ixz="-0.00012559"
        iyy="0.00525371"
        iyz="-0.00029969"
        izz="0.00096058" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Thigh_pitch_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Thigh_pitch_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Thigh_pitch_4_joint"
    type="revolute">
    <origin
      xyz="-0.028503 0.0062233 -0.028284"
      rpy="0 0 0" />
    <parent
      link="L_Thigh_pitch_3" />
    <child
      link="L_Thigh_pitch_4" />
    <axis
      xyz="0.032631 -0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Knee_pitch_L">
    <inertial>
      <origin
        xyz="-0.0227419 0.02131527 0"
        rpy="0 0 0" />
      <mass
        value="0.02119961" />
      <inertia
        ixx="2.32E-06"
        ixy="1.59E-06"
        ixz="0"
        iyy="1.706E-05"
        iyz="0"
        izz="1.608E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Knee_pitch_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Knee_pitch_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Knee_pitch_L_joint"
    type="revolute">
    <origin
      xyz="0.028831 0.03631 -0.068"
      rpy="0 0 0" />
    <parent
      link="L_Thigh_pitch_4" />
    <child
      link="L_Knee_pitch_L" />
    <axis
      xyz="0.032631 -0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Rodend_body_L">
    <inertial>
      <origin
        xyz="0 0 -0.1"
        rpy="0 0 0" />
      <mass
        value="0.262" />
      <inertia
        ixx="0.00090883"
        ixy="0"
        ixz="0"
        iyy="0.00090983"
        iyz="0"
        izz="7.12E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Rodend_body_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Rodend_body_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Rodend_body_L_joint"
    type="revolute">
    <origin
      xyz="-0.064189 0.0047576 0"
      rpy="0 0 0" />
    <parent
      link="L_Knee_pitch_L" />
    <child
      link="L_Rodend_body_L" />
    <axis
      xyz="0.032631 -0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Rodend_ball_L">
    <inertial>
      <origin
        xyz="0.01048952 -0.03305958 -0.01278363"
        rpy="0 0 0" />
      <mass
        value="0.078" />
      <inertia
        ixx="2.713E-05"
        ixy="-7.2E-07"
        ixz="-2.5E-07"
        iyy="3.013E-05"
        iyz="1.1E-06"
        izz="3.256E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Rodend_ball_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Rodend_ball_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Rodend_ball_L_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.2"
      rpy="0 0 0" />
    <parent
      link="L_Rodend_body_L" />
    <child
      link="L_Rodend_ball_L" />
    <axis
      xyz="0.032631 -0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Knee_pitch_R">
    <inertial>
      <origin
        xyz="-0.02130246 -0.02277447 0"
        rpy="0 0 0" />
      <mass
        value="0.02119961" />
      <inertia
        ixx="2.16E-06"
        ixy="-6E-07"
        ixz="0"
        iyy="1.72E-05"
        iyz="0"
        izz="1.607E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Knee_pitch_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Knee_pitch_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Knee_pitch_R_joint"
    type="revolute">
    <origin
      xyz="0.030625 -0.018661 -0.068"
      rpy="0 0 0" />
    <parent
      link="L_Thigh_pitch_4" />
    <child
      link="L_Knee_pitch_R" />
    <axis
      xyz="0.032631 -0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Rodend_body_R">
    <inertial>
      <origin
        xyz="0 0 -0.10000002"
        rpy="0 0 0" />
      <mass
        value="0.262" />
      <inertia
        ixx="0.00090883"
        ixy="0"
        ixz="0"
        iyy="0.00090983"
        iyz="0"
        izz="7.12E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Rodend_body_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Rodend_body_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Rodend_body_R_joint"
    type="revolute">
    <origin
      xyz="-0.063733 -0.0092341 0"
      rpy="0 0 0" />
    <parent
      link="L_Knee_pitch_R" />
    <child
      link="L_Rodend_body_R" />
    <axis
      xyz="-0.032631 0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Rodend_ball_R">
    <inertial>
      <origin
        xyz="0.00831083 0.03367331 -0.01278363"
        rpy="0 0 0" />
      <mass
        value="0.078" />
      <inertia
        ixx="2.724E-05"
        ixy="9.1E-07"
        ixz="-1.8E-07"
        iyy="3.002E-05"
        iyz="-1.12E-06"
        izz="3.256E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Rodend_ball_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Rodend_ball_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Rodend_ball_R_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.2"
      rpy="0 0 0" />
    <parent
      link="L_Rodend_body_R" />
    <child
      link="L_Rodend_ball_R" />
    <axis
      xyz="0.032631 -0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Ankle_pitch">
    <inertial>
      <origin
        xyz="0 0 -7.077E-05"
        rpy="0 0 0" />
      <mass
        value="0.022" />
      <inertia
        ixx="2E-06"
        ixy="9E-08"
        ixz="0"
        iyy="4.89E-06"
        iyz="0"
        izz="5.28E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Ankle_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Ankle_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Ankle_pitch_joint"
    type="revolute">
    <origin
      xyz="0.029733 0.0086748 -0.268"
      rpy="0 0 0" />
    <parent
      link="L_Thigh_pitch_4" />
    <child
      link="L_Ankle_pitch" />
    <axis
      xyz="0.032631 -0.99947 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Ankle_roll">
    <inertial>
      <origin
        xyz="-0.00596868 -0.00019488 -0.01560583"
        rpy="0 0 0" />
      <mass
        value="0.132" />
      <inertia
        ixx="3.876E-05"
        ixy="1.398E-05"
        ixz="-2.452E-05"
        iyy="0.00046645"
        iyz="-8E-07"
        izz="0.00047007" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Ankle_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Ankle_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Ankle_roll_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="L_Ankle_pitch" />
    <child
      link="L_Ankle_roll" />
    <axis
      xyz="0.99947 0.032631 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Foot">
    <inertial>
      <origin
        xyz="0.00220056 7.184E-05 0.00466046"
        rpy="0 0 0" />
      <mass
        value="0.12" />
      <inertia
        ixx="7.973E-05"
        ixy="1.056E-05"
        ixz="1.11E-06"
        iyy="0.00040288"
        iyz="4E-08"
        izz="0.00048071" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///home/jae/urdf_study/src/QUB_URDF_v2/meshes/L_Foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_Foot_joint"
    type="fixed">
    <origin
      xyz="0.010972 0.0003582 -0.038"
      rpy="0 0 0" />
    <parent
      link="L_Ankle_roll" />
    <child
      link="L_Foot" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>